.boxform {
    width: 520px; 
    height: 400px; 
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.label {
    padding-top: 5%;
}